<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Server</title>
</head>
<body>
    <nav>
        <a href="about">About</a>
        <a href="./">Home</a>
        <a href="./404.html">Error Page</a>
    </nav>
    <h3>About Myself</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, distinctio, accusantium ratione pariatur natus incidunt fuga quisquam illo deserunt voluptate explicabo totam nisi eligendi atque reiciendis, quos fugit id. Libero.</p>
</body>
</html>